extends ./layout/index
//- p #{viajes} otra manera de hacerlo

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis vehicula nisi. Fusce interdum ultricies ipsum sit amet gravida. Curabitur facilisis risus eu nisi interdum, eget tincidunt elit dictum. Nam suscipit interdum dapibus. Duis accumsan ligula vulputate, vehicula dui et, semper nisi. Praesent sagittis est turpis, malesuada molestie diam volutpat ac. Vivamus ac augue tempor, dignissim arcu aliquam, sagittis est.

                p Duis ut neque rutrum, convallis diam quis, viverra ligula. Sed tempus sapien dolor, in maximus metus malesuada eu. Aenean odio sapien, dapibus vitae massa sit amet, commodo feugiat magna. Nullam vel ante vitae lectus consequat efficitur vitae sollicitudin dui. In vitae tellus sapien.

                p Sed quis libero vitae nisl bibendum viverra. Pellentesque id sapien quis est ultricies viverra. Proin suscipit urna nec massa hendrerit molestie. Phasellus suscipit commodo gravida. Duis ornare quam eu mauris semper pretium.

    .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Sed quis libero vitae nisl bibendum viverra. Pellentesque id sapien quis est ultricies viverra. Proin suscipit urna nec massa hendrerit molestie. Phasellus suscipit commodo gravida. Duis ornare quam eu mauris semper pretium.
                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Sed quis libero vitae nisl bibendum viverra. Pellentesque id sapien quis est ultricies viverra. Proin suscipit urna nec massa hendrerit molestie. Phasellus suscipit commodo gravida. Duis ornare quam eu mauris semper pretium.
                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                        p Sed quis libero vitae nisl bibendum viverra. Pellentesque id sapien quis est ultricies viverra. Proin suscipit urna nec massa hendrerit molestie. Phasellus suscipit commodo gravida. Duis ornare quam eu mauris semper pretium.
                    